# ===========================
# Java (Gradle + IntelliJ)
# ===========================
# Ignore arquivos compilados
*.class
/bin/
/build/
# Pasta de build (gerada pelo Gradle)
**/build/
**/.gradle/

# Ignora arquivos locais do Exercism
.exercism/

# Arquivos de configuração da IntelliJ
*.iml
.idea/
*.ipr
*.iws

# Arquivos de cache do IntelliJ
out/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs ou arquivos temporários
*.log
*.tmp
*.bak
